/* .scene {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #4a90e2;
  border: 2px solid #fff;
}

.front  { transform: rotateY(0deg) translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.right  { transform: rotateY(90deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.top    { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
} */





/* @import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



html, body {

 /* font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; 
  font-style: normal; */


   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;

    /* margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; */


}





h1, h2, h3 {
    font-family: "Roboto", sans-serif;

}

/* Custom styles for the Skills section */
.skill-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.w-full {
  width: 100%;
}

.h-2 {
  height: 0.5rem;
}
